/* This file is for your main application CSS */
@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Avenir900";
  src: url("/fonts/avenir/AvenirLTProHeavy.otf");
}

@font-face {
  font-family: "AvenirMedium";
  src: url("/fonts/avenir/AvenirLTProMedium.otf");
}

@font-face {
  font-family: "Radikal";
  src: url("/fonts/radikal/Radikal_W03_Regular.ttf");
}

@layer components {
  
  .btn-primary-dark {
    @apply bg-white hover:bg-aurora_orange-500 text-blue-700 fill-blue-700 font-semibold hover:text-white hover:fill-white py-2 px-4 border hover:border-aurora_orange-500 border-transparent rounded h-fit text-center;
  }

  .btn-primary-light {
    @apply bg-blue-700 hover:bg-aurora_orange-500 text-white font-semibold hover:text-white py-2 px-4 border hover:border-aurora_orange-500 border-transparent rounded h-fit text-center;
  }

  .btn-secondary-light {
    @apply bg-gray-700 hover:bg-aurora_dark_blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-transparent rounded h-fit text-center;
  }

  /* ALERT */

  .alert {
    @apply border-t border-b px-4 py-3 font-semibold bg-gray-100;
  }

  .alert-info {
    @apply bg-blue-100 border-blue-500 text-blue-700;
  }

  .alert-danger {
    @apply bg-red-100 border-red-500 text-red-700;
  }

  

  /* FORM */

  .form-container {
    @apply border border-b-0 rounded-lg shadow-lg my-10 overflow-hidden;
  }

  .form-header {
    @apply bg-aurora_dark_blue-600 py-4 px-10;
  }

  .form-header .form-title {
    @apply text-white font-semibold text-3xl;
  }

  .form-header .form-description {
    @apply text-white py-2 text-lg;
  }

  .form-body {
    @apply lg:px-10 px-5 py-5 ;
  }

  .form-footer {
    @apply py-4 px-10 bg-slate-100 border-t;
  }

  .text-link {
    @apply hover:underline text-gray-700;
  }
  
  .form-group {
    @apply my-4;
  }

  .form-label {
    @apply block uppercase tracking-wide text-gray-700 text-base font-bold mb-2;
  }

  .form-input {
    @apply appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }

  .form-input:disabled {
    @apply bg-gray-200 border border-gray-300;
  }

  .form-submit {
    @apply font-bold py-2 px-4 rounded bg-blue-500 hover:bg-blue-700 text-white;
  }

  .form-btn-group {

  }

  .form-btn-element {
    @apply px-6
    py-2.5
    focus:outline-none focus:ring-0
    text-white
    font-medium
    leading-tight
    uppercase
    h-full

    transition
    duration-150
    ease-in-out
  }

  .form-helper-info {
    @apply block text-sm pt-1 font-sans text-stone-700;
  }

  .form-helper-error {
    @apply form-helper-info text-red-500 font-bold;
  }

  .form-checkbox-input {
    @apply appearance-none h-5 w-5 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer
  }

  .form-checkbox-label {
    @apply inline-block text-gray-800 font-semibold
  }

  .checkbox-buttons {
    
    input {
      @apply opacity-0 fixed w-0;
    }

    input:checked + label {
          @apply bg-indigo-300 border-indigo-500;
        }

        label {
          @apply inline-block border-t border-b border-gray-400 bg-gray-300 py-3 px-4 text-lg font-semibold leading-5;
        }

        label:hover {
          @apply bg-gray-400 cursor-pointer;
        }

        label:first-of-type {
          @apply border-l border-r rounded-l-lg;
        }

        label:last-of-type {
          @apply border-l border-r rounded-r-lg;
        }
  }

  /* PAGE */

  .page-header {
    @apply w-full bg-aurora_dark_blue-800 rounded-lg px-10 py-5 flex flex-row my-5 drop-shadow-xl;
  }

  /* STATUS BADGES */

  .status-badge {
    @apply px-3 py-1 font-semibold leading-tight font-mono text-sm rounded-xl;
  }

  /* EFFORT STATUS */

  .effort-state-draft-color {
    @apply bg-gray-500 text-white;
  }

  .effort-state-active-color {
    @apply bg-blue-600 text-white;
  }

  .effort-state-archived-color {
    @apply bg-gray-800 text-white;
  }

  .effort-state-draft-badge {
    @apply status-badge effort-state-draft-color py-1 inline-block
  }

  .effort-state-active-badge {
    @apply status-badge effort-state-active-color py-1 inline-block
  }

  .effort-state-archived-badge {
    @apply status-badge effort-state-archived-color py-1 inline-block
  }

  /* ASSIGN STATUS */

  
  .assign-state-pending-color {
    @apply bg-gray-500 text-white;
  }

  .assign-state-active-color {
    @apply bg-blue-500 text-white;
  }

  .assign-state-anulated-color {
    @apply bg-gray-700 text-white;
  }

  .assign-state-deserted-color {
    @apply bg-red-500 text-white;
  }

  .assign-state-completed-color {
    @apply bg-green-600 text-white;
  }

  .assign-state-pending-badge {
    @apply status-badge assign-state-pending-color py-1 inline-block
  }

  .assign-state-active-badge {
    @apply status-badge assign-state-active-color py-1 inline-block
  }

  .assign-state-anulated-badge {
    @apply status-badge assign-state-anulated-color py-1 inline-block
  }

  .assign-state-deserted-badge {
    @apply status-badge assign-state-deserted-color py-1 inline-block
  }

  .assign-state-completed-badge {
    @apply status-badge assign-state-completed-color py-1 inline-block
  }

  .markdown h1 {
    @apply text-xl font-bold underline uppercase my-3
  }

  .markdown p {
    @apply leading-relaxed
  }

  .markdown ul {
    @apply list-disc m-0 p-0 ml-10
  }

  .markdown a {
    @apply text-blue-700 hover:underline
  }

  .markdown blockquote > p {
    @apply bg-gray-200/100 ml-5 px-2 py-1
  }



}

/* Alerts and form errors used by phx.new */
/* .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
} */
.alert:empty {
  display: none;
}
/* .invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
} */

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
