
<div class="form-container">
  <div class="form-header">
    <h3 class="form-title">Ingreso usuario</h3>
    <p class="form-description">Ingresa para proponer y colaborar en esfuerzos</p>
  </div>

  <div class="form-body">

      <.form let={f} for={@conn} action={Routes.user_session_path(@conn, :create)} as={:user}>
      <%= if @error_message do %>
        <div class="alert alert-danger">
          <p><%= @error_message %></p>
        </div>
      <% end %>

      <div class="form-group">
        <%= label f, :email, "Correo electrónico (*)", class: "form-label" %>
        <%= email_input f, :email, required: true, class: "form-input" %>
      </div>

      <div class="form-group">
        <%= label f, :password, "Contraseña (*)", class: "form-label" %>
        <%= password_input f, :password, required: true, class: "form-input" %>
      </div>

      <div class="form-group">
        <label class="md:w-2/3 block text-gray-500 font-bold">
          <%= checkbox f, :remember_me, class: "form-checkbox" %>

          <span class="form-label-inline text-sm">
            Recordarme por 60 días
          </span>
        </label>
      </div>

      <div class="form-group">
        <%= submit "Ingresar", class: "form-submit" %>
      </div>
    </.form>

  </div>
  <div class="form-footer">
    <%= link "Registrarme", to: Routes.user_registration_path(@conn, :new), class: "text-link" %>
    <span class="mx-1">/</span>
    <%= link "Olvidé mi contraseña", to: Routes.user_reset_password_path(@conn, :new), class: "text-link" %>
  </div>

</div>
